PORT=3000
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="skylite-super-secret-jwt-key-change-in-production-2026"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:3000"
UPI_ID="skylite@upi"
UPI_PAYEE_NAME="SkyLite Private Theatre"
WHATSAPP_NUMBER="919876543210"
